exportPattern("^[[:alpha:]]+")
importFrom(data.table, transpose)
importFrom(gdalUtils, gdal_contour)
import(dplyr)
importFrom(foreign, read.dbf)
importFrom(plyr, ddply)
import(nngeo)
import(osmdata)
import(R.utils)
importFrom(R.utils, gunzip)
importFrom(raster, raster)
importFrom(raster, extent)
importFrom(RCurl, getURL)
import(readxl)
import(rlist)
import(rvest)
import(sp)
import(sf, except=c(st_make_valid))
import(smoothr)
import(stringr)
import(tcltk)
import(units)
importFrom(openxlsx, write.xlsx)
importFrom(XML, readHTMLTable)
import(xml2)
import(geosphere)
import(ClimClass)
import(plotly)
import(lwgeom)
